<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../static/prediction.js" async></script>
    <title>Document</title>
  </head>
  <body>
    <p>Hello world</p>
    <button id="hello">HEllo</button>
    <!-- <form
      action="prediction.js"
      method="post"
      enctype="multipart/form-data"
      id="img-upload"
    >
      <label>Select Image File:</label>
      <input type="file" name="image" />
      <input type="submit" name="submit" value="Upload" />
    </form> -->

    <form id="formcarryForm">
      <label for="nameInput">Name</label>
      <input type="text" id="nameInput" />

      <label for="messageInput">Message</label>
      <textarea id="messageInput" cols="30" rows="2"></textarea>

      <input type="file" id="pictureInput" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
